@font-face {
  font-family: "Oxanium";
  src: url(assets/Oxanium-Variable.ttf);
}

body {
  font-family: "Oxanium";
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.459);
  background-blend-mode: overlay;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 20%;
  height: auto;
  margin: 20px;
}

.cards-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.card {
  position: relative;
  width: 40%;
  height: 500px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  background: rgba(0, 0, 0, 0.6);
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card:hover .title {
  opacity: 1;
  transform: translateY(0);
}

.snow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999;
  pointer-events: none; 
  opacity: 0.7;
  mix-blend-mode: screen;
}
